    <%= render 'user_info', user: @user %>

      <h2>New book</h2>
      <%= form_with model: @book, url: '/books', method: :post do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <%= f.submit "Create Book", class: "btn btn-success btn-sm" %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">image</th>
            <th scope="col">name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(72, 80) %></td>
            <td><%= user.name %></td>
            <td><%= link_to user_path(user.id) do %>Show<% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>