<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row mx-auto">
      <h2 class="col-12">Editing Book</h2>
      <%= form_with model: @book do |f| %>
        <label for="inputTitle">Title</label>
        <div class="form-group">
          <%= f.text_field :title, id:"inputTitle" %>
        </div>
        <label for="inputBody">Opinion</label>
        <div class="form-group">
          <%= f.text_area :body, id:"inputBody"%>
        </div>
        <%= f.submit "Update Book", class: "btn btn-success btn-sm" %>
      <% end %>
      <div class="col-12">
        <%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>
      </div>
  </div>
</div>